body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
main .box{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .right .top{
    color: #333;
    font-size: 16px;
}
main .right .bottom{
    font-size: 12px;
    color: #333333;
}
main .right .bottom a{
    color: #0aa1ed;
    font-weight: bold;
}