* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul,li{
    text-decoration: none;
    padding: 0px;
    list-style: none;
}

.line {
    color: #808080;
    padding: 0 20px 0 10px;
}

.fs12 {
    font-size: 12px;
}

.fc80 {
    color: #808080;
}

.cp {
    cursor: pointer;
}
.mb10{
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.bt85{
    margin-top: 85px;
}

.pl10 {
    padding-left: 10px;
}

.fs24 {
    font-size: 24px;
}

.fs12{
    font-size: 12px;
}

.fs13{
    font-size: 13px;
}

.fs14{
    font-size: 14px;
}

.fs15{
    font-size: 15px;
}

.bcE8 {
    background-color: #e8e8e8;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.pr{
    position: relative;
}

.pa{
    position: absolute;
}