/* 头部 */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f5f5f5;
}

header .main{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 20px;*/
    padding-bottom: 15px;
    margin-top: 15px;
    box-sizing: border-box;
}

.logo {
}

.search {
    display: flex;
    flex-direction: row;
}

.search > input {
    width: 409px;
    line-height: 36px;
    padding-left: 7px;
    border: 1px solid blue;
    box-sizing: border-box;
    outline-color: blue;
    border-right: none;
    background-color: #f5f5f5;
}

.search_logo > img {
    /*display: block;*/
    width: 36px;
    height: 36px;
}

.otherFunction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.otherFunction img{
    color: #808080;
}
/* 内容 */
main {
    width: 1000px;
    margin: 78px auto 0px;
}

.title {
    margin-bottom: 20px;
}

.title a {
    margin-right: 30px;
    color: #cccccc;
    font-size: 16px;
}

.title a:nth-child(1) {
    color: #0AA1ED !important;
    font-weight: bold;
}

.shuffling {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    /*background-color: grey;*/
    margin-bottom: 20px;
    position: relative;
}

.shuffling .btn {
    position: absolute;
    width: 35px;
    height: 70px;
    border-radius: 3px;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    opacity: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shuffling .btn img {
    width: 25px;
}

.shuffling > ul > li > img {
    width: 100%;
    height: 100%;
}

.lBtn {
    top: 168px;
    left: 4px;
}

.rBtn {
    top: 168px;
    right: 4px;
}

.main_content {
}

.main_content .title {
    width: 100%;
    height: 60px;
    /*background: grey;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    color: #afaaaa;
}

.main_content .title > img {
    margin-right: 20px;
    position: relative;
    top: 3px;
}

.main_content .content {
    width: 100%;
    /*height: 200px;*/
    /*background: grey;*/
}

.specialFunction {
    width: 100%;
    height: 150px;
    /*background: gray;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    box-sizing: border-box;
}

.specialFunction .icon{
    width: 65px;
    height: 80px;
    /*background-color: grey;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.specialFunction .icon .description{
    color: #666666;
    font-size: 14px;
}


.dotBox {
    width: 108px;
    height: 20px;
    position: absolute;
    bottom: 34px;
    right: 436px;
    /*background-color: grey;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dotBox span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.dotBox > span:nth-child(1) {
    background-color: #0AA1ED;
}

.basicModel .oneF {
    width: 100%;
    height: 376px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.basicModel .oneF .oLeft {
    width: 611px;
}

.basicModel .oneF .oRight {
    width: 375px;
}


/**/
.computerOffice .content .oneF .commonModel{
    box-sizing: border-box;
    position: relative;
    padding: 40px 44px;
}

.computerOffice .content .oneF .commonModel img{
    width: 318px;
    height: 319px;
    position: absolute;
    right: 23px;
    bottom: 36px;
    transition-duration: 2s;
}

/* 动画 */
.computerOffice .content .oneF .commonModel img:hover{
    transform: scale(1.1);
}

.computerOffice .content .oneF .oRight img{
    width: 292px;
    height: 232px;
    position: absolute;
    right: 23px;
    bottom: 19px;
}

.computerOffice .content .oneF .commonModel .content p:nth-child(1){
    color: #333333;
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: lighter;
}

.computerOffice .content .oneF .commonModel .content p:nth-child(2){
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: lighter;
}

.computerOffice .content .oneF .commonModel .content p:nth-child(3){
    margin-bottom: 12px;
    font-weight: bold;
    color: #0AA1ED;
    font-size: 24px;
}

.computerOffice .content .oneF .commonModel .btn{
    width: 132px;
    line-height: 40px;
    background-color: #0AA1ED;
    text-align: center;
    color: white;
    font-size: 20px;
}

.stationeryOffice .content .oneF{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stationeryOffice .content .oneF .oLeft,.stationeryOffice .content .oneF .oRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
}

.stationeryOffice .content .oneF .oRight{
    padding: 60px 15px 20px;
}

.stationeryOffice .content .oneF .lLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 36px;
}

.stationeryOffice .content .oneF .lLeft img{
    width: 254px;
    height: 279px;
}

.stationeryOffice .content .oneF .oRight .lLeft img{
    width: 130px;
    height: 230px;
}

.stationeryOffice .content .oneF .oRight{
    width: 375px;
}

.stationeryOffice .content .oneF .title{
    color: #333333;
    font-size: 32px;
    margin-bottom: 12px;
    font-weight: lighter;
}

.stationeryOffice .content .oneF .description{
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: lighter;
}

.stationeryOffice .content .oneF .price{
    font-size: 16px;
    color: #E89AA8;
}

.stationeryOffice .content .oneF .btn{
    width: 132px;
    line-height: 40px;
    background-color: #E89AA8;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}


/* 尾部 */
footer {
    width: 100%;
    background-color: white;
}

footer .main{
    width: 1000px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 62px 0px 40px;
    margin: 0 auto;
}

footer .left{
    width: 294px;
    height: 44px;
}

footer .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
}

footer .right .rRight span{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

footer .right .rLeft{
    margin-left: 5px;
    position: relative;
    top: 7px;
}

footer .center{
    width: 339px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer .center ul:nth-child(2){
    margin: 0 30px;
}
footer .center ul li{
    font-size: 12px;
    margin-bottom: 15px;
}

footer .center ul li a{
    color: #808080;
}

footer .center ul .title{
    font-size: 14px;
    color: #333333;
}