/* 头部 */
header .content{
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

header .content span{
    color: #4f4d4e;
    font-size: 24px;
    vertical-align: baseline;
    position: relative;
    top: -7px;
    left: 10px;
}

/* 内容 */
main{
    width: 100%;
    height: 560px;
    background-color: #f5f5f5;
    background: url("../img/regist.png") 100% no-repeat;
    background-position: center;
    background-size: cover;
}

main .content{
    width: 500px;
    height: 100%;
    background: url("../img/regist.png");
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content .login{
    width: 280px;
    height: 296px;
    background-color: rgba(0,0,0,.3);
    box-sizing: border-box;
    padding: 10px;
}

main .content .login p:nth-child(1){
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
main .content .login p:nth-child(1) > span:nth-child(2){
    font-size: 12px;
    color: #fff;
}
main .content .login p:nth-child(2){
    width: 100%;
    border-top: 1px solid white;
    margin: 10px 0px;
}
main .content .login > div input{
    width: 100%;
    height: 37px;
    background-color: white;
    border: none;
    outline-color: transparent;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 25px;
}
main .content .login > div > p:nth-child(1) > img{
    position: absolute;
    top: 5px;
    right: 14px;
}
main .content .login > div > p:nth-child(2) > img{
    position: absolute;
    top: 5px;
    right: 14px;
}
main .content .login .otherFunction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
}
main .content .login .otherFunction > span:nth-child(1) label{
    position: relative;
    top: -2px;
}
main .content .login > input{
    width: 100%;
    height: 37px;
    background-color: #27b0f6;
    border: none;
    outline-color: transparent;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
}