/* 注册页面 */
/* 头部 */
header .content{
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

header .content span{
    color: #4f4d4e;
    font-size: 24px;
    vertical-align: baseline;
    position: relative;
    top: -7px;
    left: 10px;
}

/* 内容 */
main{
    width: 100%;
    height: 560px;
    background-color: #f5f5f5;
    background: url("../img/regist.png") 100% no-repeat;
    background-position: center;
    background-size: cover;
}

main .content{
    width: 500px;
    height: 100%;
    background: url("../img/regist.png");
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content .register{
    width: 590px;
    height: 465px;
    background-color: rgba(0,0,0,.3);
    box-sizing: border-box;
    padding: 20px;
    margin-right: 20px;
}

main .content .register form{
    color: white;
}

main .content .register form label{
    width: 90px;
}

main .content .register form > p:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
}

main .content .register form > p:nth-child(1) span{
    font-size: 20px;
}

main .content .register form > p:nth-child(1) a{
    text-decoration: none;
    color: #ffffff;
}

main .content .register form > div:nth-child(1){
    font-size: 14px;
}

main .content .register form input{
    width: 275px;
    height: 35px;
    border: none;
    outline-color: transparent;
    padding-left: 20px;
    margin: 12px 0px 20px 0px;
}

main .content .register form > input{
    width: 276px;
    height: 37px;
    background-color: #0AA1ED;
    text-align: center;
    color: white;
    display: block;
    margin: 0 auto;
}