/* 办公电脑、办公文具第二层通用代码 */
.basicModel .twoF {
    width: 100%;
    height: 233px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basicModel .twoF .tLeft {
    width: 366px;
    height: 100%;
}

.basicModel .twoF .tRight {
    width: calc(100% - 366px - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basicModel .twoF .tRight .son {
    width: 198px;
    height: 100%;
}

.basicModel .content .twoF .tLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.basicModel .content .twoF .tLeft .title{
    height: 35px;
    background-color: #0AA1ED;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 0;
}

.basicModel .content .twoF .tLeft .title img{
    margin-right: 10px;
}

.basicModel .content .twoF .tLeft .content{
    height: calc(100% - 35px);
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.basicModel .content .twoF .tLeft .content a{
    color: #62B5EC;
    font-size: 12px;
}
.basicModel .content .twoF .tRight .description{
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: lighter;
    color: #000;
    text-align: center;
}
.basicModel .content .twoF .tRight .price{
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #0AA1ED;
    text-align: center;
}

.basicModel .content .twoF .tRight .btn{
    width: 100px;
    line-height: 24px;
    background-color: #0AA1ED;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}

.basicModel .content .twoF .tRight img{
    transition-duration: 2s;
}

.basicModel .content .twoF .tRight img:hover{
    transform: scale(1.1);
}
